@font-face {
  font-family: animal-crossing;
  src: url(qlarendon\ bold.otf);
}

body {
  font-family: animal-crossing;
  background-color: #b2dba0;
  background-image: linear-gradient(to bottom, lightblue, #b2dba0);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #2B2D42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 3em;
  overflow-x: hidden;
}

p {
  font-size: large;
}

.overlay{
  z-index: 9999;
  position: fixed;
}

#grass-strip{
  margin-left: 50em;
  margin-top: 52em;
}

#grass-strip2{
  margin-left: -50em;
  margin-top: 52em;
  transform: scaleX(-1);
}

#grass-strip3{
  margin-top: 52em;
  transform: scaleX(-1);
}

.char {
  position: fixed;
  z-index: 50;
  pointer-events: none;
}

#frog{
  margin-top: 43em;
  margin-left: -68em;
}

#kk-slider{
  margin-top: 44em;
}

#outer-layer {
  display: flex;
  align-items: center;
  position: fixed;
  margin-top: 11em;
  z-index: 10;
}

#left-side {
  width: 50em;
  height: 38em;
}

#playlist{
  height: 12em;
  border: solid;
  border-radius: 50px 30px 10px 100px;
  margin-left: 2em;
  background-color: #d4a86e;
  opacity: 0.5;
  padding: 1em;
}

.box-1{
  display: flex;
  align-items: center;
}

.bulletin{
  background-color: #d4a76e;
  width: 27em;
  height: 17em;
  margin-left: 12em;
  border: 5px solid #b38d5d;
  border-radius: 10px;
  padding: 1em;
  margin-top: 7em;
  position: fixed;
  z-index: 20;
}

#chat, #add-row, #task-list, button, input {
  position: relative;
  z-index: 30;
}

#bulletin img{
  position: absolute;
  z-index: -1;
  height: 30em;
  width: 35em;
  margin-left: 8em;
  position: fixed;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 25em;
  height: 14.5em;
  scrollbar-width: thin;
  scrollbar-color: pink #7b976f00;
}

#add-row{
  display: flex;
  gap: 15px;
}

#task-list {
  list-style: none;
  padding: 0.5em;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}

.task-item span {
  flex: 1;
  margin-left: 8px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

button {
  font-family: inherit;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #e86a92;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* From Uiverse.io by cssbuttons-io */
button {
 position: relative;
 border: none;
 padding: 0;
 cursor: pointer;
 outline-offset: 4px;
 transition: filter 250ms;
 user-select: none;
 touch-action: manipulation;
 background-color: transparent;
}

.shadow {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: hsl(0deg 0% 0% / 0.25);
 will-change: transform;
 transform: translateY(2px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.edge {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 border-radius: 12px;
 background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.front {
 display: block;
 position: relative;
 padding: 12px 27px;
 border-radius: 12px;
 font-size: 1.1rem;
 color: white;
 background: #e86a92;
 will-change: transform;
 transform: translateY(-4px);
 transition: transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

button:hover {
 filter: brightness(110%);
}

button:hover .front {
 transform: translateY(-6px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .front {
 transform: translateY(-2px);
 transition: transform 34ms;
}

button:hover .shadow {
 transform: translateY(4px);
 transition: transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

button:active .shadow {
 transform: translateY(1px);
 transition: transform 34ms;
}

button:focus:not(:focus-visible) {
 outline: none;
}

#right-side {
  width: 35rem;
  height: 40em;
  overflow: hidden;
  position: relative;
}

#profile {
  display: flex;
}

#right-side .profile img {
  overflow: hidden;
  border-radius: 50%;
  border: none;
  margin-left: -4em;
  margin-top: -1em;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: 2px solid #80a1d4;
  border-radius: 5px;
  font-size: 1em;
}

#user-input{
  width: 360px;
}

#chat {
  padding: 2em;
  background-image: url(./images/background.jpg );
  border: black solid 3px;
  border-radius: 50px 4px 50px 5px;
  height: 24em;
}

#messages{
  background-color: #ebb2da2d;
  border: none;
  border-radius: 15px;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 1em;
  width: 31em;
  height: 17em;
  margin-top: 1em;
}

#row {
  display: flex;
  gap: 2em;

}

.overlay, .cloud {
  pointer-events: none;
}

/* Button From Uiverse.io by adamgiebl below https://uiverse.io/adamgiebl/smart-moth-68 */

#fetch-data {
  font-family: inherit;
  font-size: 20px;
  background: b9314f;
  color: white;
  padding: 0.5em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  background-color: #e86a92;
}

#fetch-data span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

#fetch-data svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

#fetch-data:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

#fetch-data:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

#fetch-data:hover span {
  transform: translateX(5em);
}

#fetch-data:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}



/* isabelle dialogue button css below here */

#app {
  margin-left: -4.5em;
  margin-top: 1.9em;
}

.dialogue {
	position: relative;
	display: flex;
	max-height: 50%;
	min-height: 10em;
	min-width: 27em;
	width: 60%;
}

 .dialogue-blobs {
	 position: relative;
	 width: 100%;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: stretch;
	 filter: url("#fancy-goo");
	 transform: scale(0);
	 animation: scale-up 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) 1s 1 normal forwards;
}
 .dialogue-blob-top {
	 position: absolute;
	 top: 0;
	 width: 100%;
	 height: 75%;
	 background-color: #fdf8e3;
	 border-radius: 40% 40% 30% 30% / 150% 150% 150% 150%;
	 animation: blob 1.5s cubic-bezier(0.37, 0, 0.63, 1) 0.3s infinite alternate;
	 transform-origin: center;
}
 .dialogue-blob-bottom {
	 position: absolute;
	 bottom: 0;
	 width: 94%;
	 height: 40%;
	 background-color: #fdf8e3;
	 border-radius: 5% 5% 20% 20% / 100% 100% 100% 100%;
	 animation: blob 1s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
	 transform-origin: center;
}
 .dialogue-character-wrap {
	 position: absolute;
	 animation: character 0.6s infinite alternate cubic-bezier(0.37, 0, 0.63, 1);
}
 .dialogue-character {
	 display: inline-block;
	 margin-right: auto;
	 padding: 0.5rem 2rem;
	 font-family: "Varela Round", sans-serif;
	 font-size: 1.5rem;
	 color: #482016;
	 background-color: #dd8530;
	 border-radius: 30% / 100% 100% 120% 120%;
	 transform: perspective(2rem) rotateX(1deg) rotateZ(-9deg) translateX(20%) translateY(-45%) scale(0);
	 animation: fade-character 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 1s 1 normal forwards;
}
 .dialogue-text {
	 position:relative;
	 width: 80%;
	 padding: 1.5em 0.5em 2.5em 0.1em;
	 font-family: "Hind", sans-serif;
	 font-size: 1.2rem;
	 line-height: 1.5em;
	 color: #807256;
}
 .arrow {
	 position: absolute;
	 bottom: 0;
	 left: 50%;
	 opacity: 0;
	 animation: arrow 0.6s cubic-bezier(0.37, 0, 0.63, 1) 4.5s infinite alternate;
}
 @keyframes blob {
	 from {
		 transform: rotate(0.3deg) scale(1);
	}
	 to {
		 transform: rotate(-0.3deg) scale(0.99);
	}
}
 @keyframes character {
	 from {
		 transform: translateY(0);
	}
	 to {
		 transform: translateY(3px);
	}
}
 @keyframes scale-up {
	 0% {
		 transform: scale(0.8);
		 opacity: 0;
	}
	 to {
		 transform: scale(1);
		 opacity: 1;
	}
}
 @keyframes fade-character {
	 from {
		 transform: perspective(2rem) rotateX(1deg) rotateZ(0deg) translateX(20%) translateY(-45%) scale(0.8);
		 opacity: 0;
	}
	 to {
		 transform: perspective(2rem) rotateX(1deg) rotateZ(-6deg) translateX(20%) translateY(-45%) scale(1);
		 opacity: 1;
	}
}
 @keyframes arrow {
	 from {
		 transform: translateY(33%) translateX(-50%) scale(1);
		 opacity: 1;
	}
	 to {
		 transform: translateY(50%) translateX(-50%) scale(0.9);
		 opacity: 1;
	}
}

/* cloud animations by  */

* {
  box-sizing: border-box;
}


/* Keyframes */
@keyframes clouds {
  0% { left: -100%; }
  100% { left: 120%; }
}

/* Base cloud */
.cloud {
  position: relative;
  margin: 33px 0 0 0;
  width: 54px;
  height: 5px;
  background: #f7e7eb;
  border-radius: 10px;
  pointer-events: none;
  animation: clouds linear infinite;
}

/* Sizes */
.cloud.tiny  { transform: scale(0.5); }
.cloud.small { transform: scale(1); }
.cloud.normal{ transform: scale(2); }
.cloud.large { transform: scale(4); }

/* Cloud bubbles */
.cloud div {
  position: absolute;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  left: -3px;
  bottom: 0;
  background: #fafbf0;
  box-shadow: inset -2px -3px 0 0 #f7e7eb;
  pointer-events: none;
}

/* Bubble positions */
.cloud div:nth-child(2) {
  transform: scale(1.6);
  margin: 0 0 4px 13px;
}

.cloud div:nth-child(3) {
  transform: scale(2.4);
  margin: 0 0 9px 32px;
}

.cloud div:nth-child(4) {
  transform: scale(1.3);
  margin: 0 0 2px 50px;
}

/* Individual cloud speeds + positions */
.cloud-1  { animation-duration: 263s; margin-left: 20%; }
.cloud-2  { animation-duration: 99s;  margin-left: 90%; }
.cloud-3  { animation-duration: 142s; margin-left: 50%; }
.cloud-4  { animation-duration: 152s; margin-left: 43%; }
.cloud-5  { animation-duration: 215s; margin-left: 83%; }
.cloud-6  { animation-duration: 139s; margin-left: 73%; }
.cloud-7  { animation-duration: 109s; margin-left: 69%; }
.cloud-8  { animation-duration: 121s; margin-left: 100%; }
.cloud-9  { animation-duration: 101s; margin-left: 10%; }
.cloud-10 { animation-duration: 126s; margin-left: 14%; }
.cloud-11 { animation-duration: 96s;  margin-left: 73%; }
.cloud-12 { animation-duration: 83s;  margin-left: 51%; }

.overlay, .cloud {
  pointer-events: none;
}
